@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: #fff;
  text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}

.card-energy-parent {
  position: absolute;
  top: 0.95625rem;
  right: -1.25rem;
  display: flex;
  flex-direction: column;

  text-shadow: -1px -1px 1px #000, 1px -1px 1px #673b2c, -1px 1px 1px #673b2c,
    1px 1px 1px #673b2c;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.card-energy {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 3rem;
  width: 3rem;
  background-image: url("./images/card-energy.png");
}

.card-health {
  position: absolute;
  top: -0.95625rem;
  left: -0.5rem;
  display: flex;
  background-image: url("./images/card-health.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 3.75rem;
  width: 3.1875rem;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #673b2c, -1px 1px 1px #673b2c,
    1px 1px 1px #673b2c;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.card-frame {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-image: url("./images/card-frame.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.max-w-hero-title {
  max-width: 14ch;
}

.home-hero-header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-hero-header {
  background-image: url("./images/mobile-hero-image.png");
  background-position: center;
  background-size: cover;
}

.send-button {
  background-color: #85715f;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  color: #fff;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin-bottom: 1rem;
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

@media (min-width: 768px) {
  .home-hero-header {
    background-image: url("./images/tablet-hero-image.png");
  }
}

@media (min-width: 1024px) {
  .home-hero-header {
    background-image: url("./images/hero-image.png");
  }
}
