@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: #fff;
  text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}

.card-health {
  position: absolute;
  top: -0.95625rem;
  left: -0.5rem;
  display: flex;
  background-image: url("./images/card-health.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 3.75rem;
  width: 3.1875rem;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #673b2c, -1px 1px 1px #673b2c,
    1px 1px 1px #673b2c;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.card-frame {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-image: url("./images/card-frame.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.max-w-hero-title {
  max-width: 14ch;
}

.home-hero-header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-hero-header {
  background-image: url("./images/mobile-hero-image.png");
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .home-hero-header {
    background-image: url("./images/tablet-hero-image.png");
  }
}

@media (min-width: 1024px) {
  .home-hero-header {
    background-image: url("./images/hero-image.png");
  }
}
